// Clash Display
@font-face {
    font-family: 'Clash Display';
    src: url(assets/fonts/ClashDisplay-VariableFont_wght.ttf) format('truetype');
}

// Boska
@font-face {
    font-family: 'Boska';
    src: url(assets/fonts/Boska.ttf) format('truetype');
}

// Outfit
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

// Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
