// Boska
@font-face {
    font-family: "Boska";
    src: url("../assets/fonts/Boska-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
    font-family: "Boska";
    src: url("../assets/fonts/Boska-BlackItalic.woff2") format("woff2");
    font-weight: 900;
    font-style: italic;
}

// Boska

@font-face {
    font-family: "ClashDisplay";
    src: url("../assets/fonts/ClashDisplay-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}


// Outfit
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

// Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
