// Clash Display
@font-face {
    font-family: "Clash Display";
    src: url("../fonts/ClashDisplay-Variable.woff2") format("woff2");
}
  

// Boska
@font-face {
    font-family: "Boska";
    src: url("../fonts/Boska-Variable.woff2") format("woff2"), url("../fonts/Boska-VariableItalic.woff2") format("woff2");
}


// Outfit
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

// Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
