@import 'utils/variables';
@import 'components/type';

// Assets

body {
    background: linear-gradient(to bottom, var(--background-color-top), var(--background-color-bottom));
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--primary-color);
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.highlight--gradient {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, var(--primary-color) 0%, var(--background-color-bottom) 100%);
    filter: blur(50px);
    border-radius: 50%;
    opacity: 0.1;
    pointer-events: none;
    z-index: -1;
}

/* ------- HOME PAGE ------- */

/* NAVIGATION */

.nav {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    height: 80px;
    border-bottom: 1px solid var(--primary-color);
    background-color: var(--background-color-top);
    z-index: 11;
}

.menu--btn{
    width: 25px;
    height: 20px;
    position: fixed;
    top: 30px;
    right: 25px;
    z-index: 10;
    background: transparent;
    color: transparent;
    border: 0;
    cursor: pointer;
    z-index: 99;
}

.menu--btn i {
    display: block;
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    position: absolute;
    transition: all 0.3s ease;
}

.menu--btn i:nth-child(1) {
    top: 0;
}

.menu--btn i:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.menu--btn i:nth-child(3) {
    bottom: 0;
}

.img__logo{
    position: fixed;
    z-index: 99;
    width: 25px;
    height: auto;
    top: 25px;
    left: 20px;
}

/* open state */
.menu--btn.open i:nth-child(1) {
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
    transform-origin: center;
}

.menu--btn.open i:nth-child(2) {
    opacity: 0;
}

.menu--btn.open i:nth-child(3) {
    bottom: 50%;
    transform: rotate(-45deg) translateY(50%);
    transform-origin: center;
}

.nav__mb {
    background-color: var(--background-menu);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    padding: 0;
    margin: 0;
    top: -100%;
    left: 0;
    width: 100%;
    height: 0;
    transition: all 0.3s ease-out; 
    z-index: 10;
}


.nav__mb ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__list {
    list-style: none;
    padding: 0;
}

.nav__link {
    text-align: center;
    color: var(--primary-color);
    font-size: 51px;
    line-height: 1.4;
    margin: 10px 0;
    font-weight: 700;
    text-decoration: none;
    opacity: 0;
    transform: translateX(-20px);
}

.nav__item{
    margin-bottom: 80px;
}

.nav__item a{
    text-align: center;
    font-family: var(--h1-cs);
}

.nav__mb.open {
    top: 0;
    height: 100%;
}

/* HEADER */

.section--header {
    height: 100vh;
    z-index: -1;

    .header__text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0 20px;

        img {
            width: 45px;
            height: auto;
            position: absolute;
            z-index: -1;
            top: 35%;
            right: 30%;
        }

        .header__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 340px;
    
            .title--big {
                font-family: var(--h1-home);
                font-size: var(--h1-size-mb);
                font-weight: var(--regular-weight);
                line-height: var(--title-line-height);
                margin: 0;
                padding: 0;
                color: var(--primary-color);
                z-index: -1;
                width: 100%;
                text-align: left;
            }
    
            .title--big__bold {
                font-weight: var(--black-weight);
                font-family: var(--h1-home);
                font-size: var(--h1-size-mb);
                line-height: var(--title-line-height);
                width: 100%;
                margin: 0 0 24px auto;
                padding: 0;
                z-index: -1;
                text-align: right;
                font-style: italic;
            }
    
            .title--subtitle{
                font-family: var(--h1-home);
                font-size: var(--h2-size-mb);
                font-weight: var(--regular-weight);
                line-height: var(--title-line-height);
                margin: 0 0 0 auto;
                width: 100%;
                padding: 0;
                font-style: italic;
                color: var(--primary-color);
                z-index: -1;
                text-align: right;
            }
        }
    }

    .page--breakline {
        display: flex;
        justify-content: center;
        flex-direction: row;
        position: relative;
        bottom: 80px;
        padding: 0 20px; 
        z-index: -1;
    
        img {
            width: 40px;
            height: auto;
        }
    
        .breakline {
            width: 100%;
            height: 2px;
            background-color: var(--secondary-color);
            margin: 19px 0 0 15px;
        }
    }
}

/* MAIN */

.section--main {
    padding: 0 20px;

    // Section About

    .section--about__content {
        margin: 160px 0;

        .title--section {
            font-family: var(--title-section);
            font-size: var(--h3-size-mb);
            font-weight: var(--bold-weight);
            line-height: var(--title-line-height);
            margin: 0;
            padding: 0 0 32px 0;
            color: var(--primary-color);

            .text--highlight {
                color: var(--secondary-color);
            }
        }

        .text--big {
            font-family: var(--text);
            font-size: var(--text-size-mb);
            font-weight: var(--regular-weight);
            line-height: var(--text-line-height);
            margin: 0;
            padding: 0 0 24px 0;
            color: var(--primary-color);
            max-width: 400px;
        }

        a {
            display: inline-flex;
            padding: 10px 30px 10px 20px;
            margin: 24px 0 0 0;
            align-items: center;
            gap: 20px;
            text-decoration: none;
            color: var(--background-menu);
            font-family: var(--text);
            font-weight: var(--regular-weight);
            line-height: var(--title-line-height);
            width: 150px;
            height: 25px;
            background-color: var(--primary-color);
            border-radius: 10px;
            border: 1px solid var(--background-menu);
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
            cursor: pointer;
            transition: all 0.3s ease;

            img {
                width: 20px;
                height: auto;
                transition: all 0.3s ease;
            }
        }

        a:hover {
            background-color: var(--background-menu);
            color: var(--primary-color);
            border: 1px solid var(--primary-color);

            img {
                transform: rotate(360deg);
            }
        }
    }

    // Section Projects

    .section--projects__intro {
        margin: 160px 0 80px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;

        img {
            width: 25px;
            height: auto;
            margin-bottom: 5px;
        }

        .title--section {
            font-family: var(--title-section);
            font-size: var(--h3-size-mb);
            font-weight: var(--bold-weight);
            line-height: var(--title-line-height);
            margin: 0;
            padding: 0 0 32px 0;
            color: var(--primary-color);

            .text--highlight {
                color: var(--secondary-color);
            }
        }

        .text--big {
            font-family: var(--text);
            font-size: var(--text-size-mb);
            font-weight: var(--regular-weight);
            line-height: var(--text-line-height);
            margin: 0;
            padding: 0 0 24px 0;
            color: var(--primary-color);
        }
    }

    .section--projects__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 160px;

        .project {

            .project--title {
                
                .title--card {
                    font-family: var(--title-section);
                    font-size: var(--h4-size-mb);
                    font-weight: var(--bold-weight);
                    line-height: var(--title-line-height);
                    margin: 0;
                    padding: 0 0 8px 0;
                    color: var(--primary-color);
                }

                .text {
                    font-family: var(--text);
                    font-size: var(--text-size-mb);
                    font-weight: var(--regular-weight);
                    line-height: var(--text-line-height);
                    margin: 0;
                    padding: 0 0 24px 0;
                    color: var(--primary-color);
                }
            }

            .text {
                font-family: var(--text);
                font-size: var(--text-size-mb);
                font-weight: var(--regular-weight);
                line-height: var(--text-line-height);
                margin: 0;
                padding: 0 0 48px 0;
                color: var(--primary-color);
            }

            .card {
                width: 280px;
                height: 400px;
                margin-bottom: 80px;
                background-color: var(--background-color-top);
                border-radius: 15px;
                cursor : pointer;
                box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
                filter: grayscale(100%);
                z-index: -1;
                transition: all 0.3s ease;

                img {
                    padding: 5px;
                    margin: auto;
                    width: 260px;
                    height: 380px;
                    border-radius: 15px;
                    object-fit: cover;
                    border: 4px solid gray;
                    z-index: -1;
                }
            }

            .card--janus {
                transform: scale(1) rotate(-1.5deg);
                transition: all 0.3s ease;

                &:hover {
                    transform: scale(1.08) rotate(0deg);
                }
            }

            .card--dataplay {
                transform: scale(1) rotate(2deg);
                transition: all 0.3s ease;

                &:hover {
                    transform: scale(1.08) rotate(0deg);
                }
            }

            .card--designfiction {
                transform: scale(1) rotate(-3deg);
                transition: all 0.3s ease;

                &:hover {
                    transform: scale(1.08) rotate(0deg);
                }
            }

            .card:hover {
                filter: grayscale(0%);
                background-color: var(--secondary-color);
                transform: scale(1.08), rotate(0deg);
            }

            img:hover {
                border: 4px solid var(--primary-color);
            }
        }
    }
}

/* FOOTER */

.page--breakline {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    bottom: 80px;
    padding: 0 20px; 
    z-index: -1;

    img {
        width: 40px;
        height: auto;
    }

    .breakline {
        width: 100%;
        height: 2px;
        background-color: var(--secondary-color);
        margin: 19px 0 0 15px;
    }
}

.credits {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 0 40px 0;

    .text--footer {
        font-family: var(--text);
        font-size: var(--text-small-mb);
        font-weight: var(--regular-weight);
        line-height: var(--text-line-height);
        margin: 0;
        padding: 0 0 32px 0;
        color: var(--primary-color);
    }
    
    a {
        text-decoration: none;
        color: var(--primary-color);
        font-family: var(--text);
        font-size: var(--text-small-mb);
        font-weight: var(--regular-weight);
        line-height: var(--text-line-height);
        margin: 0;
        padding: 0 0 32px 0;
        transition: all 0.3s ease;

        &:hover {
            color: var(--secondary-color);
            text-decoration: underline;
        }
    }
}

/* ------- CASE STUDIES ------- */

/* HEADER */

.section--header__cs {
    height: 100vh;
    z-index: -1;

    .header__text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0 20px;

        img {
            width: 45px;
            height: auto;
            margin: 0 0 24px 0;
            z-index: -1;
        }

        .header__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 340px;
    
            .title--big {
                font-family: var(--h1-cs);
                font-size: var(--h1-size-mb);
                font-weight: var(--regular-weight);
                line-height: var(--title-line-height);
                margin: 0;
                padding: 0 0 32px 0;
                color: var(--primary-color);
                z-index: -1;
                width: 100%;
                text-align: center;
                text-transform: uppercase;
            }
    
            .title--subtitle{
                font-family: var(--title-section);
                font-size: var(--h3-size-mb);
                font-weight: var(--bold-weight);
                line-height: var(--title-line-height);
                margin: 0;
                width: 100%;
                padding: 0;
                color: var(--primary-color);
                z-index: -1;
                text-align: center;

                .text--highlight {
                    color: var(--secondary-color);
                }
            }
        }
    }

    .page--breakline {
        display: flex;
        justify-content: center;
        flex-direction: row;
        position: relative;
        bottom: 80px;
        padding: 0 20px; 
        z-index: -1;
    
        img {
            width: 40px;
            height: auto;
        }
    
        .breakline {
            width: 100%;
            height: 2px;
            background-color: var(--secondary-color);
            margin: 19px 0 0 15px;
        }
    }
}

/* MAIN */

.section--main__cs {

    margin: 80px 0 0 0;

    .section--content {
        margin: 0 0 160px 0;

        .content__intro {
            
            .text--number {
                font-family: var(--h1-cs);
                font-size: var(--h1-size-mb);
                font-weight: var(--black-weight);
                line-height: var(--title-line-height);
                margin: 0;
                padding: 0;
                color: var(--primary-color);
                z-index: -1;
            }

            .title--section {
                font-family: var(--title-section);
                font-size: var(--h3-size-mb);
                font-weight: var(--bold-weight);
                line-height: var(--title-line-height);
                margin: 0;
                padding: 16px 0 32px 0;
                color: var(--primary-color);

                .text--highlight {
                    color: var(--secondary-color);
                }
            }

            .text--big {
                font-family: var(--text);
                font-size: var(--text-size-mb);
                font-weight: var(--regular-weight);
                line-height: var(--text-line-height);
                margin: 0;
                padding: 0 0 24px 0;
                color: var(--primary-color);
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 260px;
                border-radius: 10px;
                box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
                filter: grayscale(100%);
                transition: all 0.3s ease;
                margin: 0 0 40px 0;
            }

            img:hover {
                filter: grayscale(0%);
            }
        }

        .content__details {

            .text {
                font-family: var(--text);
                font-size: var(--text-size-mb);
                font-weight: var(--regular-weight);
                line-height: var(--text-line-height);
                margin: 0;
                padding: 0 0 24px 0;
                color: var(--primary-color);
            }
        }

        .page--breakline {
            display: flex;
            justify-content: center;
            flex-direction: row;
            position: relative;
            width: 100%;
            bottom: 0;
            left: -20px;
            z-index: -1;
        
            img {
                width: 40px;
                height: auto;
            }
        
            .breakline {
                width: 100%;
                height: 2px;
                background-color: var(--secondary-color);
                margin: 19px 0 0 15px;
            }
        }
    }
}

/* GRID */

.grid__cs {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 20px;
}

/* MEDIA QUERIES */

/* Large Mobile */
@media (min-width: 500px) {

    .menu--btn{
        right: 40px;
    }

    .img__logo {
        left: 40px;
    }

    .section--main {
        padding: 0 40px;
    }

    .section--header {
        .header__text {
            padding: 0 40px;
        }

        .page--breakline {
            padding: 0 40px;
        }
    }
    
    .section--footer {
        .page--breakline {
            padding: 0 40px;
        }
    }

}

@media (min-width: 650px) {

    .section--projects {
        .section--projects__intro {
            .text--big {
                max-width: 500px;
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 40px;
    }

    .homeTb-end1 {
        grid-column: 1 / 1;
    }
}

/* Tablet */
@media (min-width: 768px) {

    .nav {
        background: none;
        border: none;
    }
    

    .grid {
        display: grid;
        grid-template-columns: 1fr 3fr 2fr;
        gap: 40px;
    }

    .homeTb-end1 {
        grid-column: 2 / 3;
    }

}

/* Desktop */

@media (min-width: 1024px) {

    .section--header {
        .header__text {

            img {
                width: 60px;
                height: auto;
                top: 25%;
                right: 35%;
            }

            .header__content {
                min-width: 700px;

                .title--big {
                    font-size: var(--h1-size-dt);
                }

                .title--big__bold {
                    font-size: var(--h1-size-dt);
                }

                .title--subtitle {
                    font-size: var(--h2-size-dt);
                }
            }
        }
    }

    .section--about {
        .section--about__content {
            .title--section {
                font-size: var(--h3-size-dt);
                padding: 0 0 52px 0;
            }

            .text--big {
                font-size: var(--text-size-big-dt);
                padding: 0 0 32px 0;
                max-width: 600px;
            }

            a {
                width: 200px;
                height: 30px;
                padding: 10px 40px 10px 30px;
                gap: 30px;
                font-size: var(--text-size-dt);

                img {
                    width: 25px;
                    height: auto;
                }
            }
        }
    }

    .section--projects {
        .section--projects__intro {
            margin: 160px 0 160px 0;


            .title--section {
                font-size: var(--h3-size-dt);
                padding: 0 0 52px 0;
            }

            .text--big {
                max-width: 800px;
                font-size: var(--text-size-big-dt);
                padding: 0 0 32px 0;
            }
        }

        .section--projects__content {
            flex-direction: row;
            gap: 6%;

            .project {
                .project--title {
                    .title--card {
                        font-size: var(--h4-size-dt);
                    }

                    .text {
                        font-size: var(--text-size-dt);
                        padding: 0 0 32px 0;
                    }
                }
                .text {
                    font-size: var(--text-size-dt);
                    padding: 0 0 80px 0;
                }
            }
        }
    }

    .section--footer {

        .credits {
            flex-direction: row;
            gap: 80px;
            padding: 0;
        }
    }
    

}

/* Large Desktop */

@media (min-width: 1400px) {
    
    .section--projects {

        .section--projects__content {
            gap: 10%;
        }
    }
    
}