@import 'utils/variables';
@import 'components/type';

// Assets

body {
    background: linear-gradient(to bottom, var(--background-color-top), var(--background-color-bottom));
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--primary-color);
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.highlight--gradient {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, var(--primary-color) 0%, var(--background-color-bottom) 100%);
    filter: blur(50px);
    border-radius: 50%;
    opacity: 0.1;
    pointer-events: none;
    z-index: -1;
}

/* NAVIGATION */

.nav {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    height: 80px;
    border-bottom: 1px solid var(--primary-color);
    background-color: var(--background-color-top);
}

.menu--btn{
    width: 25px;
    height: 20px;
    position: fixed;
    top: 30px;
    right: 25px;
    z-index: 10;
    background: transparent;
    color: transparent;
    border: 0;
    cursor: pointer;
}

.menu--btn i {
    display: block;
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    position: absolute;
    transition: all 0.3s ease;
}

.menu--btn i:nth-child(1) {
    top: 0;
}

.menu--btn i:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.menu--btn i:nth-child(3) {
    bottom: 0;
}

.img__logo{
    position: fixed;
    z-index: 99;
    width: 25px;
    height: auto;
    top: 25px;
    left: 20px;
}

/* open state */
.menu--btn.open i:nth-child(1) {
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
    transform-origin: center;
}

.menu--btn.open i:nth-child(2) {
    opacity: 0;
}

.menu--btn.open i:nth-child(3) {
    bottom: 50%;
    transform: rotate(-45deg) translateY(50%);
    transform-origin: center;
}

.nav__mb {
    background-color: var(--background-menu);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    padding: 0;
    margin: 0;
    top: -100%;
    left: 0;
    width: 100%;
    height: 0;
    transition: all 0.3s ease-out; 
    z-index: 10;
}


.nav__mb ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__list {
    list-style: none;
    padding: 0;
}

.nav__link {
    text-align: center;
    color: var(--primary-color);
    font-size: 51px;
    line-height: 1.4;
    margin: 10px 0;
    font-weight: 700;
    text-decoration: none;
    opacity: 0;
    transform: translateX(-20px);
}

.nav__item{
    margin-bottom: 80px;
}

.nav__item a{
    text-align: center;
    font-family: var(--h1-cs);
}

.nav__mb.open {
    top: 0;
    height: 100%;
}

/* HEADER */

.section--header {
    height: 100vh;
    z-index: -1;

    .header__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 0 20px;

        img {
            width: 45px;
            height: auto;
            position: absolute;
            z-index: -1;
            top: 35%;
            right: 30%;
        }

        .title--big {
            font-family: var(--h1-home);
            font-size: var(--h1-size-mb);
            font-weight: var(--regular-weight);
            line-height: var(--title-line-height);
            margin: 0;
            padding: 0;
            color: var(--primary-color);
            z-index: -1;
            position: relative;
        }

        .title--big__bold {
            font-weight: var(--black-weight);
            font-family: var(--h1-home);
            font-size: var(--h1-size-mb);
            line-height: var(--title-line-height);
            margin: 0 0 24px 0;
            padding: 0;
            z-index: -1;
            position: relative;
            text-align: end;
            font-style: italic;
        }

        .title--subtitle{
            font-family: var(--h1-home);
            font-size: var(--h2-size-mb);
            font-weight: var(--regular-weight);
            line-height: var(--title-line-height);
            margin: 0;
            padding: 0;
            font-style: italic;
            color: var(--primary-color);
            z-index: -1;
            text-align: end;
            position: relative;
        }
    }

    .page--breakline {
        display: flex;
        justify-content: center;
        flex-direction: row;
        position: relative;
        bottom: 80px;
        padding: 0 20px; 
        z-index: -1;

        img {
            width: 40px;
            height: auto;
        }

        .breakline {
            width: 100%;
            height: 2px;
            background-color: var(--secondary-color);
            margin: 19px 0 0 15px;
        }
    }
}

/* MAIN */

// About Section

.section--about__content {
    margin: 160px 0;

    .title--section {
        font-family: var(--title-section);
        font-size: var(--h3-size-mb);
        font-weight: var(--bold-weight);
        line-height: var(--title-line-height);
        margin: 0;
        padding: 0 0 32px 0;
        color: var(--primary-color);

        .text--highlight {
            color: var(--secondary-color);
        }
    }

    .text--big {
        font-family: var(--text);
        font-size: var(--text-size-mb);
        font-weight: var(--regular-weight);
        line-height: var(--text-line-height);
        margin: 0;
        padding: 0 0 24px 0;
        color: var(--primary-color);
    }

    a {
        display: inline-flex;
        padding: 10px 30px 10px 20px;
        margin: 24px 0 0 0;
        align-items: center;
        gap: 20px;
        text-decoration: none;
        color: var(--background-menu);
        font-family: var(--text);
        font-weight: var(--regular-weight);
        line-height: var(--title-line-height);
        width: 150px;
        height: 25px;
        background-color: var(--primary-color);
        border-radius: 10px;
        border: 1px solid var(--background-menu);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;

        img {
            width: 20px;
            height: auto;
        }
    }

    a:hover {
        background-color: var(--background-menu);
        transition: all 0.3s ease;
        color: var(--primary-color);
        border: 1px solid var(--primary-color);

        img {
            transform: rotate(360deg);
            transition: all 0.3s ease;
        }
    }
}

// Projects Section