@import 'utils/variables';
@import 'components/type';

// Assets

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom, var(--background-color-top), var(--background-color-bottom));
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--primary-color);
    margin: 0;
}

// Light Center

.highlight--gradient {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, var(--primary-color) 0%, var(--background-color-bottom) 100%);
    filter: blur(50px);
    border-radius: 50%;
    opacity: 0.1;
    pointer-events: none;
    z-index: -1;
}

// Custom Cursor

.custom--cursor {
    display: none;
}

.cursor--outline {
    display: none;
}

// Anchors

#about,
#projects {
    scroll-margin-top: 100px;
}

/* ------- HOME PAGE ------- */

/* NAVIGATION */

// Btn Menu

.menu--btn{
    width: 25px;
    height: 20px;
    position: absolute;
    top: 30px;
    right: 25px;
    z-index: 10;
    background: transparent;
    color: transparent;
    border: 0;
    z-index: 99;
    cursor: pointer;

    i {
        display: block;
        width: 100%;
        height: 2px;
        background: var(--primary-color);
        position: absolute;
        transition: all 0.3s ease;
    }

    i:nth-child(1) {
        top: 0;
    }

    i:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
    }

    i:nth-child(3) {
        bottom: 0;
    }
}

// Nav

.nav {
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    position: fixed;
    height: 80px;
    border-bottom: 1px solid var(--primary-color);
    background-color: var(--background-color-top);
    z-index: 11;

    .img__logo{
        position: fixed;
        z-index: 99;
        width: 25px;
        height: auto;
        top: 25px;
        left: 20px;
    }
}


/* Menu Open */

// Btn Menu Open

.menu--btn.open {
    i:nth-child(1) {
        top: 50%;
        transform: rotate(45deg) translateY(-50%);
        transform-origin: center;
    }

    i:nth-child(2) {
        opacity: 0;
    }

    i:nth-child(3) {
        bottom: 50%;
        transform: rotate(-45deg) translateY(50%);
        transform-origin: center;
    }
}

// Nav Open

.nav__mb {
    background-color: var(--background-menu);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    padding: 0;
    margin: 0;
    top: -100%;
    left: 0;
    width: 100%;
    transition: all 0.3s ease-out; 
    z-index: 10;

    .nav__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .nav__item{
            margin-bottom: 80px;

            .nav__link {
                text-align: center;
                color: var(--primary-color);
                font-size: var(--link-menu-mb);
                line-height: var(--text-line-height);
                font-weight: var(--bold-weight);
                text-decoration: none;
                font-family: var(--h1-cs);
                transition: all 0.3s ease;
                opacity: 0;
                cursor: pointer;
            }

            .nav__link:hover {
                color: var(--secondary-color);
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.nav__mb.open {
    top: 0;
    height: 100%;
}

/* HEADER */

.section--header {
    height: 100vh;
    z-index: -1;

    .header__text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0 20px;

        .star--header {
            width: 45px;
            height: auto;
            position: absolute;
            z-index: -1;
            top: 35%;
            right: 30%;
        }

        .header__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 340px;
    
            .title--big {
                font-family: var(--h1-home);
                font-size: var(--h1-size-mb);
                font-weight: var(--regular-weight);
                line-height: var(--title-line-height);
                margin: 0;
                padding: 0;
                color: var(--primary-color);
                z-index: -1;
                width: 100%;
                text-align: left;
            }
    
            .title--big__bold {
                font-weight: var(--black-weight);
                font-family: var(--h1-home);
                font-size: var(--h1-size-mb);
                line-height: var(--title-line-height);
                width: 100%;
                margin: 0 0 24px auto;
                padding: 0;
                z-index: -1;
                text-align: right;
                font-style: italic;
            }
    
            .title--subtitle{
                font-family: var(--h1-home);
                font-size: var(--h2-size-mb);
                font-weight: var(--regular-weight);
                line-height: var(--title-line-height);
                margin: 0 0 0 auto;
                width: 100%;
                padding: 0;
                font-style: italic;
                color: var(--primary-color);
                z-index: -1;
                text-align: right;
            }
        }
    }

    .page--breakline {
        max-width: calc(100vw - 12%);
        display: flex;
        justify-content: center;
        flex-direction: row;
        position: relative;
        bottom: 80px;
        padding: 0 20px; 
        z-index: -1;
    
        img {
            width: 40px;
            height: auto;
        }
    
        .breakline {
            width: 100%;
            height: 2px;
            background-color: var(--secondary-color);
            margin: 19px 0 0 15px;
        }
    }
}

/* MAIN */

.section--main {
    padding: 0 20px;

    // Section About

    .section--about__content {
        margin: 160px 0;

        .title--section {
            font-family: var(--title-section);
            font-size: var(--h3-size-mb);
            font-weight: var(--bold-weight);
            line-height: var(--title-line-height);
            margin: 0;
            padding: 0 0 32px 0;
            color: var(--primary-color);

            .text--highlight {
                color: var(--secondary-color);
            }
        }

        .text--big {
            font-family: var(--text);
            font-size: var(--text-size-mb);
            font-weight: var(--regular-weight);
            line-height: var(--text-line-height);
            margin: 0;
            padding: 0 0 24px 0;
            color: var(--primary-color);
            max-width: 400px;
        }

        .group--about {
            display: flex;
            flex-direction: row;
            gap: 25px;

            .btn--about {
                display: inline-flex;
                padding: 10px 30px 10px 20px;
                margin: 24px 0 0 0;
                align-items: center;
                gap: 20px;
                text-decoration: none;
                color: var(--background-menu);
                font-family: var(--text);
                font-weight: var(--regular-weight);
                line-height: var(--title-line-height);
                width: 170px;
                height: 25px;
                background-color: var(--primary-color);
                border-radius: 10px;
                border: 1px solid var(--background-menu);
                box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
                transition: all 0.3s ease;
                cursor: none;

                .star--about {
                    width: 20px;
                    height: auto;
                    transition: all 0.3s ease;
                }
            }

            .btn--about:hover {
                background-color: var(--background-menu);
                color: var(--primary-color);
                border: 1px solid var(--primary-color);

                .star--about {
                    transform: rotate(360deg);
                }
            }

            .iconMailto {
                width: 40px;
                height: auto;
                display: inline-flex;
                padding: 28px 0 0 0;
                background-color: transparent;
                border: none;
                cursor: none;

                svg {
                    width: 40px;
                    fill: var(--primary-color);
                    transition: all 0.3s ease;

                    &:hover {
                        fill: var(--secondary-color);
                    }
                }
            }
        }

        
    }

    // Section Projects

    .section--projects__intro {
        margin: 160px 0 80px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;

        img {
            width: 25px;
            height: auto;
            margin-bottom: 5px;
        }

        .title--section {
            font-family: var(--title-section);
            font-size: var(--h3-size-mb);
            font-weight: var(--bold-weight);
            line-height: var(--title-line-height);
            margin: 0;
            padding: 0 0 32px 0;
            color: var(--primary-color);

            .text--highlight {
                color: var(--secondary-color);
            }
        }

        .text--big {
            font-family: var(--text);
            font-size: var(--text-size-mb);
            font-weight: var(--regular-weight);
            line-height: var(--text-line-height);
            margin: 0;
            padding: 0 0 24px 0;
            color: var(--primary-color);
        }
    }

    .section--projects__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 160px;

        .project {

            .project--title {
                
                .title--card {
                    font-family: var(--title-section);
                    font-size: var(--h4-size-mb);
                    font-weight: var(--bold-weight);
                    line-height: var(--title-line-height);
                    margin: 0;
                    padding: 0 0 8px 0;
                    color: var(--primary-color);
                }

                .text {
                    font-family: var(--text);
                    font-size: var(--text-size-mb);
                    font-weight: var(--regular-weight);
                    line-height: var(--text-line-height);
                    margin: 0;
                    padding: 0 0 24px 0;
                    color: var(--primary-color);
                }
            }

            .text {
                font-family: var(--text);
                font-size: var(--text-size-mb);
                font-weight: var(--regular-weight);
                line-height: var(--text-line-height);
                margin: 0;
                padding: 0 0 48px 0;
                color: var(--primary-color);
            }

            .card {
                width: 280px;
                height: 400px;
                margin-bottom: 40px;
                background-color: var(--background-color-top);
                border-radius: 15px;
                box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
                filter: grayscale(100%);
                z-index: -1;
                transition: all 0.3s ease;

                img {
                    padding: 5px;
                    margin: auto;
                    width: 260px;
                    height: 380px;
                    border-radius: 15px;
                    object-fit: cover;
                    border: 4px solid gray;
                    z-index: -1;
                    cursor: pointer;
                }
            }

            .card--janus {
                transform: scale(1) rotate(-3deg);
                transition: all 0.3s ease;
                cursor: none;

                &:hover {
                    transform: scale(1.08) rotate(0deg);
                }
            }

            .card--dataplay {
                transform: scale(1) rotate(3deg);
                transition: all 0.3s ease;
                cursor: none;

                &:hover {
                    transform: scale(1.08) rotate(0deg);
                }
            }

            .card--designfiction {
                transform: scale(1) rotate(-4deg);
                transition: all 0.3s ease;
                cursor: none;

                &:hover {
                    transform: scale(1.08) rotate(0deg);
                }
            }

            .card:hover {
                filter: grayscale(0%);
                background-color: var(--secondary-color);
                transform: scale(1.08), rotate(0deg);
            }

            img:hover {
                border: 4px solid var(--primary-color);
            }
        }
    }

    .section--projects__other {
        margin: 160px 0 200px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;

        img {
            width: 25px;
            height: auto;
            margin-bottom: 5px;
        }

        .title--section {
            font-family: var(--title-section);
            font-size: var(--h3-size-mb);
            font-weight: var(--bold-weight);
            line-height: var(--title-line-height);
            margin: 0;
            padding: 0 0 32px 0;
            color: var(--primary-color);

            .text--highlight {
                color: var(--secondary-color);
            }
        }

        .text--big {
            font-family: var(--text);
            font-size: var(--text-size-mb);
            font-weight: var(--regular-weight);
            line-height: var(--text-line-height);
            margin: 0;
            padding: 0 0 24px 0;
            color: var(--primary-color);
        }

        .btn--other {
            display: inline-flex;
            padding: 10px 30px 10px 20px;
            margin: 24px 0 0 0;
            align-items: center;
            gap: 20px;
            text-decoration: none;
            color: var(--background-menu);
            font-family: var(--text);
            font-weight: var(--regular-weight);
            line-height: var(--title-line-height);
            width: 170px;
            height: 25px;
            background-color: var(--primary-color);
            border-radius: 10px;
            border: 1px solid var(--background-menu);
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
            transition: all 0.3s ease;
            cursor: none;

            .star--about {
                width: 20px;
                height: auto;
                transition: all 0.3s ease;
            }
        }

        .btn--other:hover {
            background-color: var(--background-menu);
            color: var(--primary-color);
            border: 1px solid var(--primary-color);

            .star--about {
                transform: rotate(360deg);
            }
        }
    }
}

/* FOOTER */

.page--breakline {
    max-width: calc(100vw - 12%);
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    bottom: 80px;
    padding: 0 20px; 
    z-index: -1;

    img {
        width: 40px;
        height: auto;
    }

    .breakline {
        width: 100%;
        height: 2px;
        background-color: var(--secondary-color);
        margin: 19px 0 0 15px;
    }
}

.credits {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 0 40px 0;

    .text--footer {
        font-family: var(--text);
        font-size: var(--text-small-mb);
        font-weight: var(--regular-weight);
        line-height: var(--text-line-height);
        margin: 0;
        padding: 0 0 32px 0;
        color: var(--primary-color);
    }
    
    a {
        text-decoration: none;
        color: var(--primary-color);
        font-family: var(--text);
        font-size: var(--text-small-mb);
        font-weight: var(--regular-weight);
        line-height: var(--text-line-height);
        margin: 0;
        padding: 0 0 32px 0;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
            color: var(--secondary-color);
            text-decoration: underline;
        }
    }
}

/* ------- CASE STUDIES ------- */

/* HEADER */

.section--header__cs {
    height: 100vh;
    z-index: -1;

    .header__text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        padding: 0 20px;

        .star--header {
            width: 45px;
            height: auto;
            margin: 0 0 24px 0;
            z-index: -1;
        }

        .header__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 340px;
    
            .title--big {
                font-family: var(--h1-cs);
                font-size: var(--h1-size-mb);
                font-weight: var(--regular-weight);
                line-height: var(--title-line-height);
                margin: 0;
                padding: 0 0 32px 0;
                color: var(--primary-color);
                z-index: -1;
                width: 100%;
                text-align: center;
                text-transform: uppercase;
            }
    
            .title--subtitle{
                font-family: var(--title-section);
                font-size: var(--h3-size-mb);
                font-weight: var(--bold-weight);
                line-height: var(--title-line-height);
                margin: 0;
                width: 100%;
                padding: 0;
                color: var(--primary-color);
                z-index: -1;
                text-align: center;
                max-width: 350px;

                .text--highlight {
                    color: var(--secondary-color);
                }
            }
        }

        a {
            display: inline-flex;
            padding: 10px 30px 10px 20px;
            margin: 40px 0 0 0;
            align-items: center;
            gap: 20px;
            text-decoration: none;
            color: var(--background-menu);
            font-family: var(--text);
            font-weight: var(--regular-weight);
            line-height: var(--title-line-height);
            width: 170px;
            height: 25px;
            background-color: var(--primary-color);
            border-radius: 10px;
            border: 1px solid var(--background-menu);
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
            transition: all 0.3s ease;
            cursor: pointer;

            .star--about {
                width: 20px;
                height: auto;
                transition: all 0.3s ease;
            }
        }

        a:hover {
            background-color: var(--background-menu);
            color: var(--primary-color);
            border: 1px solid var(--primary-color);

            .star--about {
                transform: rotate(360deg);
            }
        }
    }

    .page--breakline {
        max-width: calc(100vw - 12%);
        display: flex;
        justify-content: center;
        flex-direction: row;
        position: relative;
        bottom: 80px;
        padding: 0 20px; 
        z-index: -1;
    
        img {
            width: 40px;
            height: auto;
        }
    
        .breakline {
            width: 100%;
            height: 2px;
            background-color: var(--secondary-color);
            margin: 19px 0 0 15px;
        }
    }
}

/* MAIN */

.section--main__cs {

    margin: 80px 0 0 0;

    .section--content {
        margin: 0 0 160px 0;

        .text--number {
            font-family: var(--h1-cs);
            font-size: var(--h1-size-mb);
            font-weight: var(--black-weight);
            line-height: var(--title-line-height);
            margin: 0;
            padding: 0;
            color: var(--primary-color);
            z-index: -1;
        }

        .content__intro {
            

            .title--section {
                font-family: var(--title-section);
                font-size: var(--h3-size-mb);
                font-weight: var(--bold-weight);
                line-height: var(--title-line-height);
                margin: 0;
                padding: 16px 0 32px 0;
                color: var(--primary-color);

                .text--highlight {
                    color: var(--secondary-color);
                }
            }

            .text--big {
                font-family: var(--text);
                font-size: var(--text-size-big-mb);
                font-weight: var(--regular-weight);
                line-height: var(--text-line-height);
                margin: 0;
                padding: 0 0 24px 0;
                color: var(--primary-color);
            }

        }

        img {
            object-fit: cover;
            width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
            transition: all 0.3s ease;
            margin: 0 0 40px 0;
        }

        .content__details {

            .text {
                font-family: var(--text);
                font-size: var(--text-size-mb);
                font-weight: var(--regular-weight);
                line-height: var(--text-line-height);
                margin: 0;
                padding: 0 0 24px 0;
                color: var(--primary-color);
            }
        }

        .page--breakline {
            max-width: calc(100vw - 10%);
            display: flex;
            justify-content: center;
            flex-direction: row;
            position: relative;
            width: 100%;
            bottom: 0;
            left: -20px;
            z-index: -1;
        
            img {
                width: 40px;
                height: auto;
                box-shadow: none;
                border-radius: 0;
                filter: grayscale(0%);
            }
        
            .breakline {
                width: 100%;
                height: 2px;
                background-color: var(--secondary-color);
                margin: 19px 0 0 15px;
            }
        }
    }

    .section--projects__intro {
        margin: 160px 0 0 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;

        img {
            width: 25px;
            height: auto;
            margin-bottom: 5px;
        }

        .title--section {
            font-family: var(--title-section);
            font-size: var(--h3-size-mb);
            font-weight: var(--bold-weight);
            line-height: var(--title-line-height);
            margin: 0;
            padding: 0 0 32px 0;
            color: var(--primary-color);

            .text--highlight {
                color: var(--secondary-color);
            }
        }

        .text--big {
            font-family: var(--text);
            font-size: var(--text-size-mb);
            font-weight: var(--regular-weight);
            line-height: var(--text-line-height);
            margin: 0;
            padding: 0 20px 24px 20px;
            max-width: 400px;
            color: var(--primary-color);
        }
    }

    .section--projects__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 160px;

        .project {

            .project--title {
                
                .title--card {
                    font-family: var(--title-section);
                    font-size: var(--h4-size-mb);
                    font-weight: var(--bold-weight);
                    line-height: var(--title-line-height);
                    margin: 0;
                    padding: 0 0 8px 0;
                    color: var(--primary-color);
                }

                .text {
                    font-family: var(--text);
                    font-size: var(--text-size-mb);
                    font-weight: var(--regular-weight);
                    line-height: var(--text-line-height);
                    margin: 0;
                    padding: 0 0 24px 0;
                    color: var(--primary-color);
                }
            }

            .text {
                font-family: var(--text);
                font-size: var(--text-size-mb);
                font-weight: var(--regular-weight);
                line-height: var(--text-line-height);
                margin: 0;
                padding: 0 0 48px 0;
                color: var(--primary-color);
            }

            .card {
                width: 280px;
                height: 400px;
                margin-bottom: 40px;
                background-color: var(--background-color-top);
                border-radius: 15px;
                box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
                filter: grayscale(100%);
                z-index: -1;
                transition: all 0.3s ease;

                img {
                    padding: 5px;
                    margin: auto;
                    width: 260px;
                    height: 380px;
                    border-radius: 15px;
                    object-fit: cover;
                    border: 4px solid gray;
                    z-index: -1;
                    cursor: pointer;
                }
            }

            .card--janus {
                transform: scale(1) rotate(-3deg);
                transition: all 0.3s ease;
                cursor: pointer;

                &:hover {
                    transform: scale(1.08) rotate(0deg);
                }
            }

            .card--dataplay {
                transform: scale(1) rotate(3deg);
                transition: all 0.3s ease;
                cursor: pointer;

                &:hover {
                    transform: scale(1.08) rotate(0deg);
                }
            }

            .card--designfiction {
                transform: scale(1) rotate(-4deg);
                transition: all 0.3s ease;
                cursor: pointer;

                &:hover {
                    transform: scale(1.08) rotate(0deg);
                }
            }

            .card:hover {
                filter: grayscale(0%);
                background-color: var(--secondary-color);
                transform: scale(1.08), rotate(0deg);
            }

            img:hover {
                border: 4px solid var(--primary-color);
            }
        }
    }


    .link--site {
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 80px;

            .btn--about {
            display: inline-flex;
            padding: 10px 30px 10px 20px;
            margin: 40px 0 80px 0;
            align-items: center;
            gap: 20px;
            text-decoration: none;
            color: var(--background-menu);
            font-family: var(--text);
            font-weight: var(--regular-weight);
            line-height: var(--title-line-height);
            width: 170px;
            height: 25px;
            background-color: var(--primary-color);
            border-radius: 10px;
            border: 1px solid var(--background-menu);
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
            transition: all 0.3s ease;
            cursor: pointer;

            .star--about {
                width: 20px;
                height: auto;
                transition: all 0.3s ease;
            }
        }

        .btn--about:hover {
            background-color: var(--background-menu);
            color: var(--primary-color);
            border: 1px solid var(--primary-color);

            .star--about {
                    transform: rotate(360deg);
            }
        }
    }
}

/* ------- ABOUT ------- */

.section--main__about {
    margin: 80px 0 0 0;
    padding: 0 20px;

    .section--about__educ {
        margin: 0 0 160px 0;
        max-width: 400px;

        .educ__intro {
            .title--section {
                font-family: var(--title-section);
                font-size: var(--h3-size-mb);
                font-weight: var(--bold-weight);
                line-height: var(--title-line-height);
                margin: 0;
                padding: 0 0 32px 0;
                color: var(--primary-color);

                .text--highlight {
                    color: var(--secondary-color);
                }
            }

            .text--big {
                font-family: var(--text);
                font-size: var(--text-size-big-mb);
                font-weight: var(--regular-weight);
                line-height: var(--text-line-height);
                margin: 0;
                padding: 0 0 24px 0;
                color: var(--primary-color);
            }
        }

        .educ__timeline {


            .timeline__tag {
                margin: 40px 0 0 0;

                .title--timeline {
                    font-family: var(--text);
                    font-size: var(--text-size-big-mb);
                    font-weight: var(--bold-weight);
                    line-height: var(--title-line-height);
                    margin: 0;
                    padding: 0 0 16px 0;
                    color: var(--primary-color);

                    .text--highlight {
                        color: var(--secondary-color);
                    }
                }

                .text--small {
                    font-family: var(--text);
                    font-size: var(--text-small-mb);
                    font-weight: var(--regular-weight);
                    line-height: var(--text-line-height);
                    margin: 0;
                    padding: 0 0 16px 0;
                    color: var(--primary-color);
                    font-style: italic;
                }

                .text--big {
                    font-family: var(--text);
                    font-size: var(--text-size-dt);
                    font-weight: var(--bold-weight);
                    line-height: var(--text-line-height);
                    margin: 0;
                    padding: 0 0 16px 0;
                    color: var(--primary-color);
                }

                .text {
                    font-family: var(--text);
                    font-size: var(--text-size-mb);
                    font-weight: var(--regular-weight);
                    line-height: var(--text-line-height);
                    margin: 0;
                    padding: 0 0 8px 0;
                    color: var(--primary-color);
                }
            }
        }
    }

    .section--about__exp {
        margin: 0 0 160px 0;
        max-width: 400px;

        .exp__intro {
            .title--section {
                font-family: var(--title-section);
                font-size: var(--h3-size-mb);
                font-weight: var(--bold-weight);
                line-height: var(--title-line-height);
                margin: 0;
                padding: 0 0 32px 0;
                color: var(--primary-color);

                .text--highlight {
                    color: var(--secondary-color);
                }
            }

            .text--big {
                font-family: var(--text);
                font-size: var(--text-size-big-mb);
                font-weight: var(--regular-weight);
                line-height: var(--text-line-height);
                margin: 0;
                padding: 0 0 24px 0;
                color: var(--primary-color);
            }
        }

        .exp__timeline {

            .timeline__tag {
                margin: 40px 0 0 0;

                .title--timeline {
                    font-family: var(--text);
                    font-size: var(--text-size-big-mb);
                    font-weight: var(--bold-weight);
                    line-height: var(--title-line-height);
                    margin: 0;
                    padding: 0 0 16px 0;
                    color: var(--primary-color);

                    .text--highlight {
                        color: var(--secondary-color);
                    }
                }

                .text--small {
                    font-family: var(--text);
                    font-size: var(--text-small-mb);
                    font-weight: var(--regular-weight);
                    line-height: var(--text-line-height);
                    margin: 0;
                    padding: 0 0 16px 0;
                    color: var(--primary-color);
                    font-style: italic;
                }

                .text--big {
                    font-family: var(--text);
                    font-size: var(--text-size-dt);
                    font-weight: var(--bold-weight);
                    line-height: var(--text-line-height);
                    margin: 0;
                    padding: 0 0 16px 0;
                    color: var(--primary-color);
                }

                .text {
                    font-family: var(--text);
                    font-size: var(--text-size-mb);
                    font-weight: var(--regular-weight);
                    line-height: var(--text-line-height);
                    margin: 0;
                    padding: 0 0 8px 0;
                    color: var(--primary-color);
                }
            }
        }
    }

    .section--about__skills {
        margin: 0 0 160px 0;

        .skills__intro {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0 auto;
            max-width: 500px;

            .title--section {
                font-family: var(--title-section);
                font-size: var(--h3-size-mb);
                font-weight: var(--bold-weight);
                line-height: var(--title-line-height);
                margin: 0;
                padding: 0 0 32px 0;
                color: var(--primary-color);

                .text--highlight {
                    color: var(--secondary-color);
                }
            }

            .text--big {
                font-family: var(--text);
                font-size: var(--text-size-big-mb);
                font-weight: var(--regular-weight);
                line-height: var(--text-line-height);
                margin: 0;
                padding: 0 0 24px 0;
                color: var(--primary-color);
            }
        }

        .skills__content {
            margin-top: 80px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            gap: 25px;

            .skills__box {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding-bottom: 20px;

                svg {
                    height: 50px;
                    width: auto;
                    padding-bottom: 15px;
                    fill: var(--primary-color);
                }

                .text--big {
                    font-family: var(--text);
                    font-size: var(--text-size-big-mb);
                    font-weight: var(--regular-weight);
                    line-height: var(--text-line-height);
                    margin: 0;
                    padding: 0 0 16px 0;
                    color: var(--primary-color);
                }

                .skills__level {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    vertical-align: middle;

                    .star__level {
                        width: 20px;
                        height: auto;
                    }
                }
            }
        }
    }
}

/* GRID */

.grid__cs {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 20px;
}

.gridAbout {
    display: grid;
    grid-template-columns: 1fr;
}

/* ------- CREDITS ------- */

/* HEADER */

.section--header__cs {
    .header__text {
        .header__content {
            .title--big__cd {
                font-family: var(--h1-cs);
                font-size: var(--h1-size-mb);
                font-weight: var(--regular-weight);
                line-height: var(--title-line-height);
                margin: 0;
                padding: 0 0 32px 0;
                color: var(--primary-color);
                z-index: -1;
                width: 100%;
                text-align: center;
                text-transform: none;
            }
        }
    }
}

/* MAIN */

.section--main__cd {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 80px 0 0 0;
    padding: 0 20px;

    .section--content {
        margin: 0 0 160px 0;

        .text--number {
            font-family: var(--h1-cs);
            font-size: var(--h1-size-mb);
            font-weight: var(--black-weight);
            line-height: var(--title-line-height);
            margin: 0;
            padding: 0;
            color: var(--primary-color);
            z-index: -1;
        }

        .content__intro {

            max-width: 425px;
            margin: 0 0 16px 0;
            
            .title--section {
                font-family: var(--title-section);
                font-size: var(--h3-size-mb);
                font-weight: var(--bold-weight);
                line-height: var(--title-line-height);
                margin: 0;
                padding: 16px 0 32px 0;
                color: var(--primary-color);

                .text--highlight {
                    color: var(--secondary-color);
                }
            }

            .text--big {
                font-family: var(--text);
                font-size: var(--text-size-big-mb);
                font-weight: var(--regular-weight);
                line-height: var(--text-line-height);
                margin: 0;
                padding: 0 0 24px 0;
                color: var(--primary-color);
            }

        }

        .content__details {
            
            max-width: 425px;

            .text {
                font-family: var(--text);
                font-size: var(--text-size-mb);
                font-weight: var(--regular-weight);
                line-height: var(--text-line-height);
                margin: 0;
                padding: 0 0 24px 0;
                color: var(--primary-color);

                .links--cd {
                    text-decoration: none;
                    color: var(--secondary-color);
                    cursor: pointer;

                    &:hover {
                        color: var(--secondary-color);
                        text-decoration: underline;
                    }
                }
            }

            .text--highlight {
                color: var(--secondary-color);
                font-weight: var(--bold-weight);
            }
        }
    }
}

/* ------- MEDIA QUERIES ------- */

/* Large Mobile */
@media (min-width: 500px) {

    .menu--btn{
        right: 40px;
    }

    .nav {
        .img__logo {
            left: 40px;
        }
    }

    .section--main {
        padding: 0 40px;
    }

    .section--header {
        .header__text {
            padding: 0 40px;
            max-width: calc(100vw - 6%);
        }

        .page--breakline {
            padding: 0 40px;
            max-width: calc(100vw - 6%);
        }
    }
    
    .section--footer {
        .page--breakline {
            max-width: calc(100vw - 6%);
            padding: 0 40px;
        }
    }

    .section--header__cs {
        .page--breakline {
            max-width: calc(100vw - 6%);
            padding: 0 40px;
        }
    }

    .section--main__cs {
        .page--breakline {
            max-width: calc(100vw - 6%);
            padding: 0 40px;
        }
    }

    .section--main__about {
        padding: 0 40px;
    }

    .grid__cs {
        padding: 0 40px;
    }
}



@media (min-width: 650px) {

    .section--projects {
        .section--projects__intro {
            .text--big {
                max-width: 500px;
            }
        }

        .section--projects__other {
            .text--big {
                max-width: 500px;
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 40px;
    }

    .homeTb-end1 {
        grid-column: 1 / 1;
    }

    .grid__cs {
        grid-template-columns: 60px 1fr 60px;
        gap: 20px;
        padding: 0 40px;
    }

    .grid__csMb-start1 {
        grid-column: 1 / 4;
    }

    .grid__csMb-start2 {
        grid-column: 2 / 3;

    }

    .gridAbout {
        grid-template-columns: 150px 1fr;
    }

    .gridAbout__Mb-start1 {
        grid-column: 1 / 3;
    }

    .gridAbout__Mb-start2 {
        grid-column: 2 / 3;
    }
}

/* Tablet */
@media (min-width: 768px) {

    .nav {
        background: none;
        border: none;
    }
    

    .grid {
        display: grid;
        grid-template-columns: 1fr 3fr 2fr;
        gap: 40px;
    }

    .homeTb-end1 {
        grid-column: 2 / 3;
    }

    .section--main__cs {
        .section--content {
            .content__intro {
                .title--section {
                    padding: 40px 0 32px 0;
                }
            }

            img {
                margin: 0;
                height: 100%;
            }

            .content__details {
                .text:last-child {
                    padding: 0;
                }
            }
        }
    }

    .grid__cs {
        grid-template-columns: 120px 1fr 1fr;
        gap: 20px;
        padding: 0 40px;
    }

    .grid__csTb-start1 {
        grid-column: 1 / 2;
    }

    .grid__csTb-start3 {
        grid-area: 2 / 3 / 3 / 4;
    }

    .grid__csTb-end4 {
        grid-column: 1 / 4;
    }

    .gridAbout {
        grid-template-columns: 100px 1fr 2fr;
    }

    .gridAbout__Tb-start2 {
        grid-column: 2 / 4;
    }

    .gridAbout__Tb-start3 {
        grid-column: 3 / 4;
    }

}

@media (min-width: 875px) {

    .gridAbout {
        grid-template-columns: 200px 1fr 2fr;
    }
    
}

/* Desktop */

@media (min-width: 1024px) {

    body {
        cursor: none;
    }

    // Custom Cursor

    .custom--cursor {
        display: block;
        width: 25px;
        height: 25px;
        position: fixed;
        pointer-events: none;
        transform: translate(-50%, -50%);
        z-index: 10000;
    }

    .cursor--outline {
        display: block;
        width: 40px;
        height: 40px;
        border: 1px solid var(--secondary-color);
        border-radius: 50%;
        position: fixed;
        pointer-events: none;
        transform: translate(-50%, -50%);
        z-index: 9999;
        transition: transform 0.1s ease;
    }

    .nav {
        background-color: transparent;
        border: none;
        width: 100%;
        

        .menu--btn {
            display: none;

        }

        .nav__mb {
            top: 0;
            height: 80px;
            transform: none;
            display: flex;
            align-items: flex-end;
            background-color: transparent;

            .nav__list {
                flex-direction: row;
                gap: 40px;
                padding-right: 40px;

                .nav__item {
                    margin-bottom: 0;

                    .nav__link {
                        font-size: var(--text-size-dt);
                        line-height: var(--text-line-height);
                        font-weight: var(--regular-weight);
                        text-decoration: none;
                        font-family: var(--h1-cs);
                        transition: all 0.3s ease;
                        opacity: 1;
                        cursor: none;
                    }
                }
            }
        }
    }  

    .section--header {
        .header__text {

            .star--header {
                width: 60px;
                height: auto;
                top: 25%;
                right: 35%;
            }

            .header__content {
                min-width: 700px;

                .title--big {
                    font-size: var(--h1-size-dt);
                }

                .title--big__bold {
                    font-size: var(--h1-size-dt);
                }

                .title--subtitle {
                    font-size: var(--h2-size-dt);
                }
            }
        }
    }

    .section--about {
        .section--about__content {
            .title--section {
                font-size: var(--h3-size-dt);
                padding: 0 0 52px 0;
            }

            .text--big {
                font-size: var(--text-size-big-dt);
                padding: 0 0 32px 0;
                max-width: 600px;
            }

            .btn--about {
                width: 200px;
                height: 30px;
                padding: 10px 40px 10px 30px;
                gap: 30px;
                font-size: var(--text-size-dt);
                cursor: none;

                .star--about {
                    width: 25px;
                    height: auto;
                }
            }
        }
    }

    .section--projects {
        .section--projects__intro {
            margin: 160px 0 160px 0;

            .title--section {
                font-size: var(--h3-size-dt);
                padding: 0 0 52px 0;
            }

            .text--big {
                max-width: 800px;
                font-size: var(--text-size-big-dt);
                padding: 0 0 32px 0;
            }
        }

        .section--projects__content {
            flex-direction: row;
            gap: 6%;

            .project {
                .project--title {
                    .title--card {
                        font-size: var(--h4-size-dt);
                    }

                    .text {
                        font-size: var(--text-size-dt);
                        padding: 0 0 32px 0;
                    }
                }

                .text {
                    font-size: var(--text-size-dt);
                    padding: 0 0 80px 0;
                }

                .card {

                    a {

                        img {
                            cursor: none;
                        }
                    }
                }
            }
        }

        .section--projects__other {
            margin: 160px 0 160px 0;

            .title--section {
                font-size: var(--h3-size-dt);
                padding: 0 0 52px 0;
            }

            .text--big {
                max-width: 800px;
                font-size: var(--text-size-big-dt);
                padding: 0 0 32px 0;
            }

            .btn--other {
                width: 180px;
                height: 30px;
                padding: 10px 40px 10px 30px;
                gap: 30px;
                font-size: var(--text-size-dt);
                cursor: none;

                .star--about {
                    padding-top: 5px;
                    width: 23px;
                    height: auto;
                }
            }
        }
    }

    .section--footer {

        .credits {
            flex-direction: row;
            gap: 80px;
            padding: 0;

            .text--footer {
                
                a {
                    cursor: none;
                }
            }
        }
    }

    .section--header__cs {
        .header__text {
            padding: 0 40px;

            .star--header {
                width: 60px;
                height: auto;
                margin: 0 0 24px 0;
            }

            .header__content {
                min-width: 700px;
                width: 1000px;

                .title--big {
                    font-size: var(--h1-size-dt);
                }

                .title--subtitle {
                    font-size: var(--h3-size-dt);
                    max-width: 500px;
                }

                a {
                    width: 200px;
                    height: 30px;
                    padding: 10px 40px 10px 30px;
                    gap: 30px;
                    font-size: var(--text-size-dt);
                    cursor: none;
    
                    .star--about {
                        width: 25px;
                        height: auto;
                    }
                }
            }
        }
    }

    .section--main__cs {
        .section--content {
            .text--number {
                font-size: var(--h1-size-dt);
            }

            .content__intro {
                .title--section {
                    font-size: var(--h3-size-dt);
                    padding: 84px 0 52px 0;
                }

                .text--big {
                    font-size: var(--text-size-big-dt);
                    padding: 0 0 40px 0;
                    max-width: 560px;
                }
            }

            .img--big {
                height: 100%;
            }

            .content__details {
                .text {
                    font-size: var(--text-size-dt);
                    max-width: 500px;
                }
            }
        }

        .section--projects {
            .section--projects__content {
                gap: 20%;
            }
        }

        .link--site {
            .btn--about {
                width: 200px;
                height: 30px;
                padding: 10px 40px 10px 30px;
                gap: 30px;
                font-size: var(--text-size-dt);
                cursor: none;
    
                .star--about {
                    width: 25px;
                    height: auto;
                }
            }
        }
    }

    .section--main__cd {
        padding: 0 40px;
        .section--content {
            .text--number {
                font-size: var(--h1-size-dt);
            }

            .content__intro {
                max-width: 600px;

                .title--section {
                    font-size: var(--h3-size-dt);
                }

                .text--big {
                    font-size: var(--text-size-big-dt);
                }
            }

            .content__details {
                max-width: 600px;
                .text {
                    font-size: var(--text-size-dt);
                    max-width: 600px;

                    .links--cd {
                        cursor: none;
                    }
                }
            }
        }
    }

    .section--main__about {
        padding: 0 40px;

        .section--about__educ {
            max-width: 600px;
            .educ__intro {
                .title--section {
                    font-size: var(--h3-size-dt);
                    padding: 0 0 52px 0;
                }

                .text--big {
                    font-size: var(--text-size-big-dt);
                    padding: 0 0 32px 0;
                }
            }

            .educ__timeline {
                .timeline__tag {
                    margin: 40px 0 0 0;

                    .title--timeline {
                        font-size: var(--text-size-big-dt);
                    }

                    .text--small {
                        font-size: var(--text-size-dt);
                    }

                    .text--big {
                        font-size: var(--text-size-dt);
                    }

                    .text {
                        font-size: var(--text-size-dt);
                    }
                }
            }
        }

        .section--about__exp {
            max-width: 600px;
            .exp__intro {
                .title--section {
                    font-size: var(--h3-size-dt);
                    padding: 0 0 52px 0;
                }

                .text--big {
                    font-size: var(--text-size-big-dt);
                    padding: 0 0 32px 0;
                }
            }

            .exp__timeline {
                .timeline__tag {
                    margin: 40px 0 0 0;

                    .title--timeline {
                        font-size: var(--text-size-big-dt);
                    }

                    .text--small {
                        font-size: var(--text-size-dt);
                    }

                    .text--big {
                        font-size: var(--text-size-dt);
                    }

                    .text {
                        font-size: var(--text-size-dt);
                    }
                }
            }
        }

        .section--about__skills {
            margin: 160px 0 240px 0;
            .skills__intro {
                max-width: 600px;

                .title--section {
                    font-size: var(--h3-size-dt);
                    padding: 0 0 52px 0;
                }

                .text--big {
                    font-size: var(--text-size-big-dt);
                    padding: 0 0 32px 0;
                }
            }

            .skills__content {
                gap: 40px;

                .skills__box {
                    svg {
                        height: 60px;
                        width: auto;
                        padding-bottom: 20px;
                    }

                    .text--big {
                        font-size: var(--text-size-dt);
                        padding: 0 0 16px 0;
                    }

                    .skills__level {
                        .star__level {
                            width: 25px;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
    
    .grid__cs {
        grid-template-columns: 200px 1fr 1fr;
        gap: 40px;
    }

    .grid__csDt-start3 {
        grid-area: 1 / 3 / 3 / 4;
    }

    .section--header__cs {
        .header__text {
            .header__content {
                .title--big__cd {
                    font-size: var(--h1-size-dt);
                    text-transform: uppercase;
                }
            }
        }
    }

}

/* Large Desktop */

@media (min-width: 1400px) {
    
    .section--projects {

        .section--projects__content {
            gap: 10%;

            .project {
                .card {
                    width: 300px;
                    height: 440px;
    
                    img {
                        width: 280px;
                        height: 420px;
    
                    }
                }
            } 
        }
    }

    .grid__cs {
        gap: 60px;
    }

    .gridAbout {
        grid-template-columns: 200px 2fr 3fr;
    }
}

@media (min-width: 1600px) {

    .section--main__cd {
        flex-direction: row;
        gap: 80px;
    }
}