:root {
    /* Colors */
    --background-color-top: #1E1E1E;
    --background-color-bottom: #2A2750;
    --primary-color: #F2F2F2;
    --secondary-color: #F3CB5C;
    --background-menu: #2A2750;

    /* Font Families */
    --h1-home: 'Boska', serif;
    --h1-cs: 'ClashDisplay', sans-serif;
    --title-section: 'Outfit', sans-serif;
    --text: 'Poppins', sans-serif;
    
    /* Font Sizes */
    // Mobile
    --h1-size-mb: 4.75rem;
    --h2-size-mb: 2rem;
    --h3-size-mb: 1.75rem;
    --h4-size-mb: 1.75rem;
    --text-size-big-mb: 1.313rem;
    --text-size-mb: 1rem;
    --text-small-mb: 0.875rem;
    --link-menu-mb: 3.188rem;

    // Desktop
    --h1-size-dt: 8.438rem;
    --h2-size-dt: 3.563rem;
    --h3-size-dt: 2.688rem;
    --h4-size-dt: 2rem;
    --text-size-big-dt: 1.5rem;
    --text-size-dt: 1.125rem;
    --text-small-dt: 0.875rem;

    /* Font Weights */
    --black-weight: 900;
    --bold-weight: 700;
    --regular-weight: 400;

    /* Font Line Heights */
    --title-line-height: 1.2;
    --text-line-height: 1.4;
}