:root {
    // Colors
    --background-color-top: #1E1E1E;
    --background-color-bottom: #2A2750;
    --primary-color: #F2F2F2;
    --secondary-color: #F3CB5C;
    --background-menu: #2A2750;

    // Fonts
    --h1-home: 'Boska', serif;
    --h1-cs: 'Clash Display', sans-serif;
    --title-section: 'Outfit', sans-serif;
    --text: 'Poppins', sans-serif;
    
    // Font sizes
    
}